<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido</title>
</head>
<body>
    <h1>Panel de dispositivos</h1>
    <h2>Consumo maximo permitido 100 W</h2>
    {% for p in dispositivos %}
        <li>
            {{ p.nombre }}  Consumo: {{ p.consumo }}
            {% if p.consumo > consumo_maximo %}
                <strong style="color:red">- Exceso</strong>
             {% else %}
                <span style="color: green;">- Correcto</span>
            {%endif%}
        </li>
    {% endfor %}
</body>
</html>